### columsn transformer 
#### firstly  i didd data preprocessing without columsn and transformer and with transformer your can see the differencce below

In [1]:
import numpy as np 
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('covid_toy.csv')

In [4]:
df.head(5)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
from sklearn.model_selection import train_test_split 
x_train , x_test , y_train , y_test = train_test_split(df.iloc[: ,0:-1] , df.iloc[: , -1 ]  , test_size = 0.2 ,random_state = 2 )

In [6]:
x_train

    age  gender  fever   cough       city
35   82  Female  102.0  Strong  Bangalore
11   65  Female   98.0    Mild     Mumbai
84   69  Female   98.0  Strong     Mumbai
44   20    Male  102.0  Strong      Delhi
73   34    Male   98.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
43   22  Female   99.0    Mild  Bangalore
22   71  Female   98.0  Strong    Kolkata
72   83  Female  101.0    Mild    Kolkata
15   70    Male  103.0  Strong    Kolkata
40   49  Female  102.0    Mild      Delhi

[80 rows x 5 columns]

In [7]:
si = SimpleImputer()
#adding siple imputer to tain data 
x_train_fever = si.fit_transform(x_train[['fever']])

#adding simple imputer to test data 
x_test_fever = si.fit_transform(x_test[['fever']])

In [8]:
ohe = OneHotEncoder(drop = 'first' , dtype = np.int32 , handle_unknown = 'ignore' ,sparse = False )
x_train_gender_city = ohe.fit_transform(x_train[['gender' , 'city' ]])

#appllying on test data 
x_test_gender_city = ohe.fit_transform(x_test[['gender' , 'city']])

D:\software\python\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
D:\software\python\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [9]:
#Applying label encooder 
le = LabelEncoder()
x_train_cough = le.fit_transform(x_train['cough']).reshape(-1 , 1 )

#applying on test data sets

x_test_cough = le.fit_transform(x_test[['cough']]).reshape(-1 , 1 )

D:\software\python\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Altrenative of label encoder

In [10]:
#or you can also try 
mapping_column = {'Strong' : 1 , 'Mild' : 0 }
df_test = df.copy()
df_test['cough'] = df_test['cough'].map(mapping_column)

## Extracting Age

In [11]:
x_train.sample()

   age  gender  fever   cough    city
7   20  Female    NaN  Strong  Mumbai

In [12]:
x_train_age = x_train.iloc[:, 0].values.reshape(- 1 , 1 )

x_test_age = x_test.iloc[:,0].values.reshape(-1 , 1 )

In [13]:
x_train_age.shape

(80, 1)

In [14]:
x_test_age

array([[17],
       [15],
       [71],
       [13],
       [69],
       [80],
       [42],
       [33],
       [16],
       [64],
       [10],
       [82],
       [80],
       [51],
       [60],
       [73],
       [31],
       [34],
       [81],
       [48]], dtype=int64)

## concatinating

In [21]:
x_train_transformed =np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)
# also the test data
x_test_transform = np.concatenate((x_test_age  , x_test_fever , x_test_gender_city , x_test_cough) , axis = 1 )
x_train_transformed.shape

(80, 7)

In [22]:
x_train_age.shape

(80, 1)

In [23]:
x_train_fever.shape

(80, 1)

In [18]:
x_test_gender_city.shape

(20, 4)

In [19]:
x_train_age

array([[82],
       [65],
       [69],
       [20],
       [34],
       [84],
       [23],
       [ 8],
       [34],
       [56],
       [69],
       [27],
       [64],
       [66],
       [38],
       [11],
       [14],
       [46],
       [38],
       [75],
       [25],
       [83],
       [47],
       [60],
       [12],
       [34],
       [42],
       [19],
       [24],
       [81],
       [64],
       [51],
       [40],
       [ 6],
       [49],
       [82],
       [42],
       [72],
       [20],
       [19],
       [75],
       [79],
       [59],
       [ 5],
       [25],
       [14],
       [19],
       [47],
       [51],
       [ 5],
       [68],
       [19],
       [54],
       [73],
       [65],
       [23],
       [26],
       [49],
       [11],
       [27],
       [65],
       [65],
       [50],
       [55],
       [12],
       [83],
       [10],
       [18],
       [16],
       [27],
       [44],
       [74],
       [20],
       [ 5],
       [24],
       [22],
       [71],
       [83],
       [70],
       [49]], dtype=int64)

In [20]:
x_test_gender_city.shape

(20, 4)

## Using Columns Transfomer

In [24]:
from sklearn.compose import ColumnTransformer

In [ ]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')